<h1>All images</h1>

<div class="row">
  <% for @image in @images %>
    <div class="four columns">
      <a href="<%= @image.file %>">
        <img class="u-max-full-width" src="<%= @image.file.url(:large) %>" alt="<% @image.title %>">
      </a>
      <p><%= @image.title %></p>
    </div>
  <% end %>
</div>

<h1>Upload a new image</h1>

<form method="post" action="/images" enctype="multipart/form-data">
    <label for="file">File</label>
    <input class="u-full-width" type="file" name="image[file]" id="file">
    <label for="title">Title</label>
    <input class="u-full-width" type="text" name="image[title]" id="title" placeholder="Enter a title for the image">
    <input class="button-primary" type="submit">
</form>
